Header value encoding (and ToByteString instances)

I found that `URI` doesn't have any `ToByteString` instance and upon looking into that I realized that both the instances for Text and String [blindly encode with utf-8](https://github.com/twittner/bytestring-conversion/blob/e8751a5b343666a77b0/src/Data/ByteString/Conversion/To.hs#L47)

This is probably not terribly important, since I expect browsers to ignore unknown bytes... but the correct thing to do would be to make sure that any header value is encoded in ASCII, as expected by the standard.

Right now this situation might end up in (silent?) failures by clients to recognize the response. Making the ByteString conversion partial obviously sounds bad, but at least it would not fail silently. It would be even better to have a separate type from ByteString for HTTP Headers Values (since not all ByteStrings will be valid). Apparently ByteStrings are used inside Warp itself, though...

maybe something like...

    newtype HeaderValue = HeaderValue ByteString
    toHeaderValue :: (ToByteString s) => s -> Maybe HeaderValue


For my URI use case, the proper ToByteString instance would have to urlencode the utf-8 in the uri{Path,Query,Fragment} and puny-encode the idn. 

Moreover, by looking at the HTTP/2 spec, I realized that this might also potentially be a security issue:

Let's assume that I define blindly a ToByteString instance for URI like above. And that one of the `Capture` receives a String/Text. If an user could be able to forge a resource identified by a String/Text containing CR,LF codepoints, this could result in having the rest of the uri [interpreted as another Header](https://www.owasp.org/index.php/HTTP_Response_Splitting) (there might be prevention for this inside Warp/Wai, so this might be moot... )

References (You already know such stuff, but I'll leave them here for other's benefit and since it took me a while to search in the text):

[HTTP/2 spec](https://httpwg.github.io/specs/rfc7540.html#rfc.section.10.3)

> Similarly, HTTP/2 allows header field values that are not valid. While most of the values that can be encoded will not alter header field parsing, carriage return (CR, ASCII 0xd), line feed (LF, ASCII 0xa), and the zero character (NUL, ASCII 0x0) might be exploited by an attacker if they are translated verbatim. Any request or response that contains a character not permitted in a header field value MUST be treated as malformed (Section 8.1.2.6). Valid characters are defined by the field-content ABNF rule in Section 3.2 of [RFC7230].

A [StackOverflow answer](http://stackoverflow.com/a/4410331/293735) that points to the same resource

[HTTP/1.1 Syntax (RFC7230)](https://tools.ietf.org/html/rfc7230#section-3.2.4)

> Historically, HTTP has allowed field content with text in the ISO-8859-1 charset [ISO-8859-1], supporting other charsets only through use of [RFC2047] encoding.  In practice, most HTTP header field values use only a subset of the US-ASCII charset [USASCII]. Newly defined header fields SHOULD limit their field values to US-ASCII octets.  A recipient SHOULD treat other octets in field content (obs-text) as opaque data.

Ok, a lot of this discussion happened in back channels. It is now fixed in `warp` (w.r.t. security issues, at least). There still remains the question of whether we want to have an opaque type for header values. My opinion is that this would ideally take place in something like `http-types`, but since it doesn't, we're going to end up with a lot of issues with compatibility with other libraries. @berdario would like to hear what you think (and thanks a lot for the report - you've made us all a little safer!).

Closing as I'm inclined to think we no longer need an opaque type. Please re-open if you think that's wrong.

Yup, thanks for following through and fixing this.
Sorry for not being more involved, but I touch Haskell only periodically... :/
right now I'm trying to port the code I wrote last year to Servant 0.7, and indeed I see that the ToText/ToByteString type classes are not in use anymore (so I would say that it's not Servant's responsibility anymore to define if a certain conversion is valid or not)... moreover [I also realized](https://github.com/haskell/network-uri/issues/16) that unicode URI (IRI) are not supported, and thus (at least by encoding an URI) a bunch of invalid header values won't risk of being generated